<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wuzzuf Analysis - Areas Barchart</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="limiter">
    <div class="py-3 row">
        <div class="h6 col-md-5 ">
            <a href="/" class="text-dark text-left p-3 m-3">
                <img src="http://localhost:8080/images/arrow-left-solid.svg" width="15" class="mr-2"/>
                Go back
            </a>
        </div>
        <div class="col-md-7">
            <p class="text-dark h5"> Areas barchart</p>
        </div>
    </div>

    <div class="container-table100 text-center">
        <div class="wrap-table100">
            <div class="table100">
                <img src="http://localhost:8080/images/popularAreasBar.jpg"/>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/main.js"></script>

</html>