<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wuzzuf Analysis - Popular skills</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <link rel="icon" href="http://localhost:8080/images/logo.png">

    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="limiter">
    <div class="py-3 ">
        <div class="h6 ">
            <a href="/" class="text-dark text-left p-3 m-3">
                <img src="http://localhost:8080/images/arrow-left-solid.svg" width="15" class="mr-2"/>
                Go back
            </a>
        </div>
        <div class="text-center">
            <p class="text-dark h5"> Popular skills</p>
        </div>
    </div>

    <div class="container-table100 text-center">
        <div class="wrap-table100">
            <div class="table100">
                <table style="width: 400px !important; text-align: center">
                    <thead>
                    <tr class="table100-head">
                        <th class="column9">Attribute</th>
                        <th class="column1">Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row: ${rows}">
                        <td th:text="${row.attribute}" class="column9 text-dark"  ></td>
                        <td th:text="${row.count}" class="column1" ></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/main.js"></script>

</html>