<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wuzzuf Analysis - Summary</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <link rel="icon" href="http://localhost:8080/images/logo.png">

    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="limiter">
    <div class="py-3 ">
        <div class="h6  ">
            <a href="/" class="text-dark text-left p-3 m-3">
                <img src="http://localhost:8080/images/arrow-left-solid.svg" width="15" class="mr-2"/>
                Go back
            </a>
        </div>
        <div class="text-center">
            <p class="text-dark h5"> Summary of the dataset</p>
            <small class="text-muted">Task #2</small>
        </div>
    </div>

    <div class="container-table100 text-center" style="align-items: unset !important;">
        <div class="wrap-table100">
            <div class="table100">
                <table id="summary-table">
                    <thead>
                    <tr class="table100-head">
                        <th class="column9">#</th>
                        <th class="column1">Title</th>
                        <th class="column2">Company</th>
                        <th class="column3">Location</th>
                        <th class="column4">Type</th>
                        <th class="column5">Level</th>
                        <th class="column6">YearsExp</th>
                        <th class="column7">Country</th>
                        <th class="column8">Skills</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row: ${rows}">
                        <td th:text="${row.summary}" class="column9 text-dark"  ></td>
                        <td th:text="${row.title}?: 'Null'" class="column1" ></td>
                        <td th:text="${row.company}" class="column2" ></td>
                        <td th:text="${row.location}?: 'Null'" class="column3"></td>
                        <td th:text="${row.type}?: 'Null'" class="column4">Full Time</td>
                        <td th:text="${row.level}?: 'Null'" class="column5">Manager</td>
                        <td th:text="${row.yearsExp}?: 'Null'" class="column6">5-10 Years of Exp</td>
                        <td th:text="${row.country}?: 'Null'" class="column7">Giza</td>
                        <td th:text="${row.skills}?: 'Null'" class="column8" >Call center, Custom Service, English, Call center, Custom Service, English</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/custom.js"></script>

</html>